{% extends 'base.html.twig' %}

{% block title %}Sujets index{% endblock %}

{% block body %}
    <h1>Sujets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Topic</th>
                <th>CreatedBy</th>
                  <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
                <td>{{ sujet.id }}</td>
                <td>{{ sujet.topic }}</td>
                <td>{{ sujet.createdBy }}</td>
                 <td>{{ sujet.content }}</td>
                <td>{{ sujet.createdAt ? sujet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sujet.updatedAt ? sujet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sujets_show', {'id': sujet.id}) }}">show</a>
                    <a href="{{ path('sujets_edit', {'id': sujet.id}) }}">edit</a>
                    <a href="{{ path('sujets_delete', {'id': sujet.id}) }}">delete</a>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sujets_new') }}">Create new</a>
{% endblock %}
