{% extends 'base.html.twig' %}

{% block title %}New Sujets{% endblock %}

{% block body %}
    <h1>Create new Sujets</h1>

    {{ include('sujets/_form.html.twig') }}

    <a href="{{ path('sujets_index') }}">back to list</a>
{% endblock %}
