{% extends 'base.html.twig' %}

{% block title %}Sujets
{% endblock %}

{% block body %}
	<h1>Sujets</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ sujet.id }}</td>
			</tr>
			<tr>
				<th>Topic</th>
				<td>{{ sujet.topic }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ sujet.content }}</td>
			</tr>
			<tr>
				<th>CreatedBy</th>
				<td>{{ sujet.createdBy }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ sujet.createdAt ? sujet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ sujet.updatedAt ? sujet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('sujets_index') }}">back to list</a>

	<a href="{{ path('sujets_edit', {'id': sujet.id}) }}">edit</a>

	{{ include('sujets/_delete_form.html.twig') }}
{% endblock %}
